/* 
.parallax-container .container{
  margin: 0;
} */
.events-container {
  max-width: 190vh;
  padding-bottom: 4%;
}

.parallax-container h1 {
  font-family: "Catamaran", sans-serif;
  color: var(--link-color);
}

.parallax-container img {
  width: 100%;
}

.parallax-container .txt {
  position: relative;
}

.parallax-container .one {
  /* margin-top: 100px; */
}

/* .parallax-container .text-1 {
    top: 160px;
    left: -90px;
}

.parallax-container .text-2 {
    z-index: 1;
    top: 280px;
    left: 280px;
}

.parallax-container .three {
    z-index: 2;
    top: -720px;
    width: 120%;
}

.parallax-container .four {
    margin-top: -400px;
}

.parallax-container .text-3 {
    z-index: 1;
    top: -140px;
    left: -180px;
}

.parallax-container .text-4 {
    z-index: 1;
    top: 300px;
    left: 300px;
}

.parallax-container .six {
    top: -750px;
} */

@media (max-width: 1100px) {
  .events-container {
    max-width: 100vh;
    padding: 2% 10% 4%;
  }
}
