/* footer.css */

.section__padding {
  padding: 2rem;
}

.footer {
  background-color: #333;
  color: #f7f7f7;
   min-height: 50vh !important;
   height:fill-content;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__logo img {
  width: 100px;
  text-align:center;
  
}
.col-lg-8{
  text-align:center;
}

.footer__social-links {
  flex: 2;
  text-align: center;
} 

.footer__social-icon {
  width: 30px;
  margin: 0 0.5rem;
}

.footer__sitemap {
  text-align: center;
  margin: 2rem auto;
  
}

.footer__sitemap ul {
  list-style: none;
  padding: 0;
}
.margin-about{
text-align:center;
}
.footer__google-map{
  margin-top:3rem;

}
.footer__sitemap li {
  margin-bottom: 0.5rem;
}

.footer__sitemap a {
  color: #f7f7f7;
  text-decoration: none;
  transition: color 0.3s ease;
  display:flex;
  flex-direction:row;
}

.footer__sitemap a:hover {
  color: #66c0f4;
 

}

.footer__copyright {
  text-align: center;
  font-size: 13px;
  margin-top: 1rem;

}
.rights {
  margin-top:2rem;
  text-align:center !important;
}
@media screen and (max-width: 850px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__social-links {
    margin-top: 1rem;
  }

  
}
.container{
  height:fit-content !important;
}