nav {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    background: #333538;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 30%;

    li{
        list-style: none;
        letter-spacing: 2px;
        font-weight: 50;
    }
}

.link{
    text-decoration: none;
    color: #e6e6e6;
}

.link_active{
    text-decoration: none;
    color: #e6e6e6;
    text-decoration: underline;
}

.burger{
    display: none;
    div{
        width: 20px;
        height: 3px;
        background-color: #e6e6e6;
        margin: 5px;
    }
}

.line1{}
.line2{}
.line3{}

@media screen and (max-width: 1050px){
    .nav_links {
        display: flex;
        justify-content: space-around;
        width: 55%;
    }
}

@media screen and (max-width: 1050px){
    .nav_links {
        display: flex;
        justify-content: space-around;
        width: 63%;
    }
}

@media screen and (max-width: 760px){
    body{
        overflow-x: hidden;
    }
    .nav_links{
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #333538;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        li{
            opacity: 0;
        }
    }
    .burger{
        display: block;
    }
}


.nav_active{
    transform: translate(0%);
}