# name: Deploy

# on:
#     push:
#         branches: [ source ]

# jobs:
#     build:
#         runs-on: ubuntu-latest
#         steps:
#             - uses: actions/checkout@v1
#             - uses: enriikke/gatsby-gh-pages-action@v2.2.0
#               with:
#                   access-token: ${{ secrets.DEPLOY_SITE }}
#                   deploy-branch: master
#                   gatsby-args: --verbose

name: Deploy to GitHub Pages

on:
  push:
    branches:
      - source

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.DEPLOY_SITE }}
          publish_dir: ./build
